@page "/nested-layouts"
@using LayoutsDemo.Components.Layout
@layout CharlieLayout

<div class="border border-warning">
    <h4>NestedLayouts</h4>
    <div>This is a nested layout.</div>
</div>

@code {

}
