@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    <button class="btn btn-primary" @onclick="ShowDialogBox">Show Dialog Box</button>
</div>

<div style="@dialogBox.CssString">
    <p>This is a dialog box.</p>
</div>

@code{
    private DialogBox dialogBox = new DialogBox();

    private async Task ShowDialogBox()
    {
        var windowDimensions = await JSRuntime.InvokeAsync<WindowDimensions>("getWindowDimensions");        
        dialogBox.Left = (windowDimensions.Width / 2) - (dialogBox.Width / 2);
        dialogBox.Top = (windowDimensions.Height / 2) - (dialogBox.Height / 2);
        dialogBox.Display = "inherit";
    }

    class WindowDimensions
    {
        public int Height { get; set; }
        public int Width { get; set; }
    }

    class DialogBox
    {
        public int Height { get; set; } = 300;
        public int Width { get; set; } = 500;
        public string BackgroundColor { get; set; } = "green";
        public int Top { get; set; } = 0;
        public int Left { get; set; } = 0;
        public int ZIndex { get; set; } = 9999;
        public string Display { get; set; } = "none";

        public string CssString
        {
            get
            {
                return $"height:{Height}px;width:{Width}px;background-color:{BackgroundColor};position:fixed;top:{Top}px;left:{Left}px;z-index:{ZIndex};display:{Display};";
            }    
        }
    }
}