@page "/"
@using DIYDialog.Components.Shared

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    <button class="btn btn-primary" @onclick="ShowDialogBox">Show Dialog Box</button>
</div>

<DialogBox @ref="dialogBox"></DialogBox>

@code{
    private DialogBox dialogBox;

    private async Task ShowDialogBox()
    {
        await dialogBox.Show("Hello world!", "Alert");
    }
}