@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    <button class="btn btn-primary" @onclick="ShowDialogBox">Show Dialog Box</button>
</div>

<div class="dialog-overlay" style="display:@dialogBox.Display;">
</div>
<div style="@dialogBox.CssString">    
    <div class="card">
        <div class="card-header position-relative">
            <span>This is a dialog box.</span>
            <button @onclick="CloseDialogBox" type="button" class="btn-close" aria-label="Close" style="float:right;"></button>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

@code{
    private DialogBox dialogBox = new DialogBox();

    private async Task ShowDialogBox()
    {
        var windowDimensions = await JSRuntime.InvokeAsync<WindowDimensions>("getWindowDimensions");        
        dialogBox.Left = (windowDimensions.Width / 2) - (dialogBox.Width / 2);
        dialogBox.Top = (windowDimensions.Height / 2) - (dialogBox.Height / 2);
        dialogBox.Display = "inherit";
    }

    private void CloseDialogBox()
    {
        dialogBox.Display = "none";
    }

    class WindowDimensions
    {
        public int Height { get; set; }
        public int Width { get; set; }
    }

    class DialogBox
    {
        public int Height { get; set; } = 100;
        public int Width { get; set; } = 500;
        public string BackgroundColor { get; set; } = "transparent";
        public int Top { get; set; } = 0;
        public int Left { get; set; } = 0;
        public int ZIndex { get; set; } = 999999;
        public string Display { get; set; } = "none";

        public string CssString
        {
            get
            {
                return $"min-height:{Height}px;width:{Width}px;background-color:{BackgroundColor};position:fixed;top:{Top}px;left:{Left}px;z-index:{ZIndex};display:{Display};";
            }    
        }
    }
}